$('#signup-form').html('<div class="row"><div class="col-md-8 col-md-offset-2"><h2>Thanks for signing up!</h2></div></div>');
$('#signup')[0].style.height = '100vh';
$('button.stripe-button-el').click();
